<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>新增就诊人</title>
	<link rel="stylesheet" href="../css/base.css" />
	<link rel="stylesheet" href="../css/font_204671_x9apung3xuwyiudi/iconfont.css" />
	<link rel="stylesheet" href="../css/layout.css" />
</head>
<body>
	<header>
		<a href="#" class="iconfont shangyi toPrevious"></a>
		<h1>新增就诊人</h1>
		<!--<a href="#" class="toNext">确定</a>-->
	</header>
	<section id="content" class="appointment-message">
		<div class="wrapper textGroup">
			   
			<div class="appointment-detail_info add_patients">
				<p><span><i>*</i>就诊人</span>张三丰</p>
				<p><a href="#" class="fr"><i class="iconfont previewright"></i></a><span><i>*</i>性别</span>消化科</p>
				<p><a href="#" class="fr"><i class="iconfont previewright"></i></a><span><i>*</i>出生日期</span>2017-12-07</p>
				<p><span><i>*</i>联系方式</span>123564897</p>
				<p><span><i>*</i>证件类型</span>身份证</p>
				<p><a href="#" class="fr"><i class="iconfont previewright"></i></a><span><i>*</i>证件号</span>440402********6656</p>
				<p class="relationship_link"><span><i>*</i>与本人关系</span><a href="#" class="relationship">本人</a><a href="#" class="relationship">父母</a><a href="#" class="relationship">配偶</a><a href="#" class="relationship">子女</a><a href="#" class="relationship">儿童</a><a href="#" class="relationship">其他</a></p>
			</div>
			
		</div>
		<a href="appointment_success.html" class="submit">保&nbsp;&nbsp;存</a>
	</section>
</body>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/iscroll.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</html>
