<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>确认信息</title>
	<link rel="stylesheet" href="../css/base.css" />
	<link rel="stylesheet" href="../css/font_204671_x9apung3xuwyiudi/iconfont.css" />
	<link rel="stylesheet" href="../css/layout.css" />
</head>
<body>
	<header>
		<a href="#" class="iconfont shangyi toPrevious"></a>
		<h1>确认信息</h1>
		<!--<a href="#" class="toNext">确定</a>-->
	</header>
	<section id="content" class="appointment-message">
		<div class="wrapper textGroup">
			<div class="textGroup-header">
				<img src="../images/headphoto1.png"/>
				<h2>王存兰<span>主任医师</span><i class="doctor-tag">专家</i></h2>
				<p>消化一室<span>&nbsp;|&nbsp;</span>消化科</p>
			</div>
			<div class="appointment-detail_info">
				<p>科室<span>消化科</span></p>
				<p>就诊时段<span>2017-12-07  08:00~09:00</span></p>
				<p>挂号费<span>0.0元</span></p>
			</div>
			<div class="appointment-detail_info">
				<p>就诊人<input type="text" placeholder="请填写"/></p>
				<p>联系方式<input type="text" placeholder="请填写"/></p>
				<p>诊疗卡号<input type="text" placeholder="请填写"/></p>
				<p>病情描述<textarea class="disease"></textarea></p>
			</div>
			<div class="appointment-detail_prompt">
				<dl>
					<dt>温馨提示</dt>
					<dd><p>并及时关注预约订单动态。如果专家停诊，您的预约将会被取消，我们将以短信方式通知您，请保持手机通畅，并及时关注预约订单动态。如果专家停诊，您的预约将会被取消，我们将以短信方式通知您，请保持手机通畅，并及时关注预约订单动态。</p></dd>
				</dl>
			</div>
		</div>
		<a href="appointment_success.html" class="submit">确认预约</a>
	</section>
</body>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/iscroll.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</html>
