<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>医院介绍</title>
	<link rel="stylesheet" href="../css/base.css" />
	<link rel="stylesheet" href="../css/font_204671_x9apung3xuwyiudi/iconfont.css" />
	<link rel="stylesheet" href="../css/layout.css" />
</head>
<body>
	<header>
		<a href="#" class="iconfont shangyi toPrevious"></a>
		<h1>医院介绍</h1>
		<!--<a href="#" class="toNext">确定</a>-->
	</header>
	<section id="content" class="hospital-introduce">
		<div class="wrapper textGroup">
			<div class="hospital-introduce_img">
				<img src="../images/hospital.png"/>
				<h2>中山大学附属第五医院</h2>
			</div>
			<div class="hospital-introduce_contact">
				<p class="contact_address">广东省珠海市香洲区梅华东路52号</p>
				<p class="contact_phone">预约挂号：0756-2528955</p>
			</div>
			<div class="hospital-introduce_detail">
				<dl>
					<dt>医院介绍</dt>
					<dd>
						<p style="text-indent: 0.4rem;">中山大学附属第五医院位于珠海市美丽的香洲湾畔情侣路旁，
							环山临海，环境幽静，风景秀丽。医院毗邻澳门，邻近码头及国际机场
							，海陆空交通十分便利。医院于2002年12月在原珠海市医疗中心的基础上建立
							，总占地面积22万平方米，建筑面积14万平方米。
							建有欧陆建筑风格的门诊大楼、住院大楼、医技楼、肿瘤治疗中心。现有职工1400余人， 
							正高40名，副高108名，博士生导师6名，硕士生导师50名。多名教授在专业领域成就卓著。
							目前有中华医学会各专科学会委员4人，省级医学会
							空交通十分便利。医院于2002年12月在原珠海市医疗中心的基础上建立
							，总占地面积22万平方米，建筑面积14万平方米。
							建有欧陆建筑风格的门诊大楼、住院大楼、医技楼、肿瘤治疗中心。现有职工1400余人， 
							正高40名，副高108名，博士生导师6名，硕士生导师50名。多名教授在专业领域成就卓著。
							目前有中华医学会各专科学会委员4人，省级医学会
						</p>
					</dd>
				</dl>
			</div>
		</div>
	</section>
	<a href="selective_department.html" id="suspension"></a>
</body>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/iscroll.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</html>
