<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>确认信息</title>
	<link rel="stylesheet" href="../css/base.css" />
	<link rel="stylesheet" href="../css/font_204671_x9apung3xuwyiudi/iconfont.css" />
	<link rel="stylesheet" href="../css/layout.css" />
</head>
<body>
	<header>
		<a href="#" class="iconfont shangyi toPrevious"></a>
		<h1>支付订单</h1>
		<!--<a href="#" class="toNext">确定</a>-->
	</header>
	<section id="content" class="appointment-message">
		<div class="wrapper textGroup">
			<div class="textGroup-header">
				<img src="../images/headphoto1.png"/>
				<h2>当天挂号</h2>
				<p>新兴县人民医院当天挂号费用-专家</p>
			</div>
			<p class="payment_method">支付方式</p>
			<div class="appointment-detail_info">
				<div class="payment_type">
					<img src="../images/weixin.png">
					<div class="payment_description">微信支付<span>推荐安装微信6.0及以上版本的用户使用</span></div>
					<div class="opt fl">
						<input class="magic-radio" type="radio" name="radio" id="r1" value="option1" >
						<label for="r1"  style=" margin-top: 20px;"> </label>
					</div>
					<div class="clean"></div>
				</div>
				<div class="payment_type">
					<img src="../images/zhifubao.png">
					<div class="payment_description">支付宝支付<span>推荐有支付宝账号的用户使用</span></div>
					<div class="opt fl">
						<input class="magic-radio" type="radio" name="radio" id="r2" value="option2" >
						<label for="r2"  style=" margin-top: 20px;"> </label>
					</div>
					<div class="clean"></div>
				</div>
				<div class="payment_type" style="border:none;">
					<img src="../images/yinlian.png">
					<div class="payment_description">银联支付<span>支付服务由银联提供，无需开通网银</span></div>
					<div class="opt fl">
						<input class="magic-radio" type="radio" name="radio" id="r3" value="option3">
						<label for="r3"  style=" margin-top: 20px;"> </label>
					</div>
					<div class="clean"></div>
				</div>
			</div>
			
			
		</div>
		<a href="appointment_success.html" class="submit">确认支付</a>
	</section>
</body>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/iscroll.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</html>
