<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>就诊人管理</title>
	<link rel="stylesheet" href="../css/base.css" />
	<link rel="stylesheet" href="../css/font_204671_x9apung3xuwyiudi/iconfont.css" />
	<link rel="stylesheet" href="../css/layout.css" />
</head>
<body>
	<header>
		<a href="#" class="iconfont shangyi toPrevious"></a>
		<h1>就诊人管理</h1>
		<!--<a href="#" class="toNext">确定</a>-->
	</header>
	<section id="content" class="doctor-list">
		<div class="wrapper  textGroup">
			<div class="personnel_list">
				<p class="personnel_info">张三丰<span>138****1234</span><i class="doctor-tag">专家</i></p>
				<p>4404**********0001</p>
				<div class="personnel_edit">
					<span class="fr"><a href="#"><i class="iconfont xiugaimima"></i>编辑</a><a href="#"><i class="iconfont shanchu"></i>删除</a></span>
					<div class="opt fl">
						<input class="magic-radio" type="radio" name="radio" id="r1" value="option1" checked>
						<label for="r1" >默认</label>
					</div>
					<div class="clean"></div>
				</div>
			</div>
			
			<div class="personnel_list">
				<p class="personnel_info">张三丰<span>138****1234</span><i class="doctor-tag">专家</i></p>
				<p>4404**********0001</p>
				<div class="personnel_edit">
					<span class="fr"><a href="#"><i class="iconfont xiugaimima"></i>编辑</a><a href="#"><i class="iconfont shanchu"></i>删除</a></span>
					<div class="opt fl">
						<input class="magic-radio" type="radio" name="radio" id="r1" value="option1">
						<label for="r1" >设为默认</label>
					</div>
					<div class="clean"></div>
				</div>
			</div>
			<a href="#" class="submit"><i class="iconfont add"></i>新增就诊人</a>
			
		</div>
	</section>
</body>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/iscroll.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</html>
