<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>医院列表</title>
	<link rel="stylesheet" href="../css/base.css" />
	<link rel="stylesheet" href="../css/font_204671_x9apung3xuwyiudi/iconfont.css" />
	<link rel="stylesheet" href="../css/layout.css" />
</head>
<body>
	<header>
		<a href="#" class="iconfont shangyi toPrevious"></a>
		<h1>选择医院</h1>
		<!--<a href="#" class="toNext">确定</a>-->
	</header>
	<section id="content" class="hospital-list">
		<div class="wrapper listGroup">
			<ul>
				<li>
					
						<a href="appointment_time.html">
						<img src="../images/headphoto1.png"/>
						<h2>李醒<span>副主任医师</span><i class="doctor-tag">专家</i></h2>
						<p>内分泌一室主任</p>
						
						<button class="doctor-list_btn active" type="button">预约</button>
						<p class="doctor_text">内分泌一室主任内分泌一室主任内分泌一室主任内分泌一室主室主任内分泌一室主室主任内分泌一室主室主任内分泌一室主任内分泌一任</p>
					</a>
                        
					
				</li>
				<li>
					
						<img src="../images/logo.png"/>
						<h2><span class="fr"><a href="selective_booktype.html?aaa='1111'"><button class="hospital-list_btn"  type="button">预约</button></a></span>中山大学附属第五医院</h2>
						<p>广东省珠海市香洲区梅华东路52号广东省珠海市香洲区梅华东路52号</p>
					
				</li>
				<li>
					
						<img src="../images/logo.png"/>
						<h2><span class="fr sh_book"><a href="selective_booktype.html">预约</a></span>中山大学附属第五医院</h2>
						<p>广东省珠海市香洲区梅华东路52号广东省珠海市香洲区梅华东路52号</p>
					
				</li>
			</ul>
		</div>
	</section>
</body>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/iscroll.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</html>
