<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
	<link rel="stylesheet" href="../css/base.css" />
	<link rel="stylesheet" href="../css/font_204671_x9apung3xuwyiudi/iconfont.css" />
	<link rel="stylesheet" href="../css/layout.css" />
</head>
<body>
	<header>
		<a href="#" class="iconfont shangyi toPrevious"></a>
		<h1>挂号记录</h1>
		<!--<a href="#" class="toNext">确定</a>-->
	</header>
	<section id="content" class="appointment-success">
		<div class="wrapper textGroup">
			
			<div class="appointment-success_order">
				<dl class="view-log-list">
					<dt><span class="fr">已缴费</span><i class="iconfont jilu_solid"></i>2018041010051234</dt>
					<dd>
						<p class="view-log-title">新兴县人民医院当天挂号费用-专家</p>
						<div>
							<p>就诊时间<span>2018-04-10 08:00~09:00</span></p>
							<p>就诊人<span>张三丰</span></p>
							<p>挂号费<span>  0.0 元</span></p>
						</div>
						<div class="view-log-btn">
							<a href="#">查看详细</a>
							<a href="#">取消挂号</a>
						</div>
					</dd>
				</dl>
			</div>
			
			<div class="appointment-success_order">
				<dl class="view-log-list">
					<dt><span class="fr">已缴费</span><i class="iconfont jilu_solid"></i>2018041010051234</dt>
					<dd>
						<p class="view-log-title">新兴县人民医院当天挂号费用-专家</p>
						<div>
							<p>就诊时间<span>2018-04-10 08:00~09:00</span></p>
							<p>就诊人<span>张三丰</span></p>
							<p>挂号费<span>  0.0 元</span></p>
						</div>
						<div class="view-log-btn">
							<a href="#">查看详细</a>
						</div>
					</dd>
				</dl>
			</div>
			
			
			
		</div>
	</section>
</body>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/iscroll.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</html>
