<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>政务缴费-首页</title>
	<link rel="stylesheet" type="text/css" href="../css/base.css"/>
	<link rel="stylesheet" type="text/css" href="../css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../css/font_204671_19b2d7ji42aqncdi/iconfont.css"/>
</head>
<body>
	<div id="main">
		<header>
			<i class="iconfont icon-arrow-left"></i>政务缴费
		</header>
		<section id="container">
			<div class="payment_home container_wrapper">
				<div class="payment_header">
					<a class="payment_header_nav" href="payment_login.html"><img src="../images/zwjf_nav.png"/></a>
					<a class="payment_header_nav" href="paymentList_login.html"><img src="../images/jfjl_nav.png"/></a>
				</div>
				<div class="payment_stateImg">
					<img src="../images/ikon (1).png"/>
				</div>
			</div>
			<div class="payment_logo">
				<img class="logo_word" src="../images/logo_word_colours.png"/>
				<img class="logo_pic" src="../images/logo_pic_colours.png"/>
			</div>
		</section>
	</div>
</body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/public.js"></script>
</html>
