<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>缴费查询</title>
	<link rel="stylesheet" type="text/css" href="../css/base.css"/>
	<link rel="stylesheet" type="text/css" href="../css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../css/font_204671_19b2d7ji42aqncdi/iconfont.css"/>
</head>
<body>
	<div id="main">
		<header>
			<i class="iconfont icon-arrow-left"></i>缴费查询
		</header>
		<section id="container">
			<div class="payment_search container_wrapper">
				<ul class="search_list">
					<li>
						<div class="search_list_header">
							<p class="payment_search_number"><i class="iconfont wendangshuoming"></i>1234567890000000000</p>
							<p class="payment_search_state">已缴费</p>
						</div>
						<div class="search_list_container">
							<p class="payment_search_name"><span>这是事项名称，这是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长长很长很长很长很长很长</span></p>
							<div class="payment_search_detail">
								<p><span>收费项目名称，这是比较短的</span><i>¥ 5.00</i></p>
								<p><span>收费项目名称，这是很长很长很长很收费项目名称，这是很长很长很长很</span><i>¥ 20.00</i></p>
								<p><span>收费项目名称，这是比较短的</span><i>¥ 3.00</i></p>
								<p class="amountTotal"><span>总计应收</span><i>¥ 28.00</i></p>
							</div>
						</div>
						<div class="search_list_footer">
							<a href="">查看详情</a>
						</div>
					</li>
					<li>
						<div class="search_list_header">
							<p class="payment_search_number"><i class="iconfont wendangshuoming"></i>1234567890000000000</p>
							<p class="payment_search_state">未缴费</p>
						</div>
						<div class="search_list_container">
							<p class="payment_search_name"><span>这是事项名称，这是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长长很长很长很长很长很长</span></p>
							<div class="payment_search_detail">
								<p><span>收费项目名称，这是比较短的</span><i>¥ 5.00</i></p>
								<p><span>收费项目名称，这是很长很长很长很收费项目名称，这是很长很长很长很</span><i>¥ 20.00</i></p>
								<p><span>收费项目名称，这是比较短的</span><i>¥ 3.00</i></p>
								<p class="amountTotal"><span>总计应收</span><i>¥ 28.00</i></p>
							</div>
						</div>
						<div class="search_list_footer">
							<a href="">查看详情</a>
							<a class="not_payment" href="">立即缴费</a>
						</div>
					</li>
					<li>
						<div class="search_list_header">
							<p class="payment_search_number"><i class="iconfont wendangshuoming"></i>1234567890000000000</p>
							<p class="payment_search_state">已缴费</p>
						</div>
						<div class="search_list_container">
							<p class="payment_search_name"><span>这是事项名称，这是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长长很长很长很长很长很长</span></p>
							<div class="payment_search_detail">
								<p><span>收费项目名称，这是比较短的</span><i>¥ 5.00</i></p>
								<p><span>收费项目名称，这是很长很长很长很收费项目名称，这是很长很长很长很</span><i>¥ 20.00</i></p>
								<p><span>收费项目名称，这是比较短的</span><i>¥ 3.00</i></p>
								<p class="amountTotal"><span>总计应收</span><i>¥ 28.00</i></p>
							</div>
						</div>
						<div class="search_list_footer">
							<a href="">查看详情</a>
						</div>
					</li>
				</ul>
			</div>
		</section>
	</div>
</body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/public.js"></script>
</html>
