<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>记录详情(缴费记录)</title>
	<link rel="stylesheet" type="text/css" href="../css/base.css"/>
	<link rel="stylesheet" type="text/css" href="../css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../css/font_204671_19b2d7ji42aqncdi/iconfont.css"/>
</head>
<body>
	<div id="main">
		<header>
			<i class="iconfont icon-arrow-left"></i>记录详情
		</header>
		<section id="container">
			<div class="payment_detail container_wrapper">
				<p class="payment_detail_state not_payment">已缴费</p>
				<div class="payment_detail_card">
					<div class="payment_card_header">
						<p class="payment_search_number"><i class="iconfont wendangshuoming"></i>1234567890000000000</p>
					</div>
					<div class="payment_card_container">
						<p class="payment_card_name"><span>这是事项名称，这是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长长很长很长很长很长很长</span></p>
						<div class="payment_card_detail">
							<p><span>收费项目名称，这是比较短的</span><i>¥ 5.00</i></p>
							<p><span>收费项目名称，这是很长很长很长很收费项目名称，这是很长很长很长很</span><i>¥ 20.00</i></p>
							<p><span>收费项目名称，这是比较短的</span><i>¥ 3.00</i></p>
							<p><span>总计应收</span><i>¥ 28.00</i></p>
							<p class="payment_card_time">
								<span>缴费时间</span>
								<i>2018-01-01  16:00</i>
							</p>
						</div>
					</div>
				</div>
				<input class="submit" type="button" value="立即缴费" />
			</div>
		</section>
	</div>
</body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/public.js"></script>
</html>