<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>缴费记录</title>
	<link rel="stylesheet" type="text/css" href="../css/base.css"/>
	<link rel="stylesheet" type="text/css" href="../css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../css/font_204671_19b2d7ji42aqncdi/iconfont.css"/>
</head>
<body>
	<div id="main">
		<header>
			<i onClick="back();" class="iconfont icon-arrow-left"></i>缴费记录
		</header>
		<section id="container">
			<div class="paymentList_login container_wrapper">
				<div class="login_module">
					<form action="" method="">
						<div class="form_group">
							<label>手机号码</label>
							<input id="phone" type="text" name="" value="15018303325" placeholder="缴费手机号码"/>
							<span></span>
						</div>
						<input  onclick="search();return false;" type="submit" value="查  询" style="background-color: #e4e4e4;"/>
					</form>
				</div>
				<div class="payment_logo">
					<img class="logo_word" src="../images/logo_word_white.png"/>
					<img class="logo_pic" src="../images/logo_pic_white.png"/>
				</div>
			</div>
		</section>
	</div>
</body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/public.js"></script>
<script language="javascript">


function back(){
window.history.go(-1);
}

function search(){
	

	var phone=$("#phone").val();//获取当前输入框中电话的值
	var a = phone.length;
	if(phone==""||phone==null){
	alert("请输入手机号码")
	return;
	}
	if(phone.length != 11){
	alert("请输入正确的手机号码")
	return;
	}
    window.location.href='paymentList_search.html?phone=' + phone; //跳转动作

}

</script>>
</html>